.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --background-color: #000028;

  --accent-color: #FF0070;
  --accent-color-changeable: #FF0070;
  --accent-color-hover: rgba(255, 0, 112, 0.40);
  --heading-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  
  --family-font: 'IBM Plex mono';
  --size-font: 18px;
  --desktop-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --mobile-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --padding-value: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --background-color: #000028;

    --accent-color: #FF0070;
    --accent-color-changeable: #FF0070;
    --accent-color-hover: rgba(255, 0, 112, 0.40);
    --heading-color: #DB00FF;
    --title-color: #000028;
    --text-color: #F1B2CE;
    
    --family-font: 'IBM Plex mono';
    --size-font: 18px;
    --desktop-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --mobile-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --padding-value: 20px;
  }
}